<!DOCType html>
<html>

<head>
  <meta charset="UTF-8">
  <title>HOME</title>
  <link rel="stylesheet" href="style.css">

<body>
  <header>
  </header>
  <div class="bannerHomepage">
    <div class="content">
      <h1></h1>
      <p>Order confirmed. Please check your email.</p>
      <div>
        <a href="/profile/1" <button type="button"><span></span>Back to profile</button></a>
      </div>
    </div>
  </div>
  <div class="buttom">
  </div>
</body>
</head>

</html>