<!DOCType html>
<html>

<head>
  <meta charset="UTF-8">
  <title>HOME</title>
  <link rel="stylesheet" href="style.css">

<body>
  <header>
  </header>
  <div class="bannerHomepage">
    <div class="navbar">
      <h1>F.A.</h1>

      <ul>  
        <li><a href="#">REVIEW</a></li>
      </ul>
    </div>
    <div class="content">
      <h1>Find All</h1>
      <div>
        <a href="/login"><button type="button"><span></span>Click Here</button></a>
      </div>
    </div>
  </div>
  <div class="buttom">
  </div>
</body>
</head>

</html>